h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  padding: 8px 8px;
}

b {
  font-size: 150%;
}

.fas {
  position: relative;
  top: 2px;
}

.card-big {
  width: 50%;
  background-color: #ffffff;
  margin: 0px auto;
  position: relative;
}

a {
  text-decoration: none;
  color: #333333;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card-small{
  width: 32.5%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
}

.card-mid {
  width: 40%;
}

hr {
    border-radius: 2px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
  padding: 2px 16px;
}

i {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}

.align {
    display: flex;
    justify-content: space-between;
}

.side-by-side{
  display: inline-block;
}

.vl {
  border-left: 1.25px solid #cccccc;
  position: relative;
  left: 5px;
  padding: 0px 7px 0px 0px;
  height: 40px;
}

.coloring {
 height: 15px;
 width: 100%;
 transition: 0.3s;
}
.coloring:hover {height: 95px}

